body{
    background-color:rgb(180, 211, 180) ;;
    padding: 20px;
    align-content: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    font-size: 75px;
}

p{
    font-size:large;
    text-align: center;
    width:75%;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 80px;
}




h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

h2{
    padding-inline: 50px;
    float: left;
    margin:25px 25px ;
}

.aapics{
    padding: 10px 15px;
    margin: 5px 10px;
    
}