body {
    background-color: rgb(180, 211, 180) ;
    background-image: url("../Images/lgImages/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

#lgtrl { 
    text-decoration: underline;
    text-decoration-color: coral;
    color: rosybrown;
}

li {
    color: seagreen ;
}

#ntm {
    color: rosybrown;
}
.mt-3 {
    color: darkolivegreen;
}
.rowa {
    background-color: burlywood
}

.row-title {
    background-color: #f1be75;
    height: 35px;

}

h4 {
    color:white;
    font-style: oblique;
    text-rendering: geometricPrecision;
    text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px darkslategray;
}

nav{
    text-align: center;
}

ul {
    background-color: rgb(212, 168, 124);
    
    
}

.container-title{
    margin: 0px;
}
