body {
	background: linear-gradient(-45deg, #f0e7d7,#c0f1c0,#c0ddf5,rgb(180, 211, 180));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.row-title {
    background-color: #f1be75;
    height: 35px;

}

h4 {
    color:white;
    font-style: oblique;
    text-rendering: geometricPrecision;
    text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px darkslategray;
}

nav{
    text-align: center;
}

ul {
    background-color: wheat;
    
}

.container-title{
    margin: 0px;
}

.footer {
    text-align: center;
    width: 100%;
    background-color: wheat;
    color: rgb(3, 3, 116);
}