.mentaltitle {
    color: rgb(202, 147, 9);
    margin: 30px;
}

.mentalimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.deeP {
    text-align: justify;
    margin: 30px;
}

h5{
    font-weight: bold;
    margin: 10px;
}
.luminex{
    i
}