.mentaltitle {
    color: green;
    margin: 30px;
    padding-top: 2%;
}

.mentalimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.deeP {
    text-align: justify;
    margin: 30px;
    color: green
}

h5{
    font-weight: bold;
    margin: 10px;
}
.luminex{
    i
}