Dee Dee Style.mental {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.deeP {
    text-align: justify;
    padding-top: 2%;
    color: green

}
.mentalWellness {
    
    color: green;
}
.mentalWellness {
    padding-bottom: 2%; 
    
}

